@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="epigraph"],
[epub|type~="epilogue"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}

article{
	break-after: page;
}

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 3em;
	text-indent: -3em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 3em;
	text-indent: -2em;
}

p span.i2{
	padding-left: 5em;
	text-indent: -3em;
}

p span.i3{
	padding-left: 5em;
	text-indent: -2em;
}

p span.i4{
	padding-left: 7em;
	text-indent: -3em;
}

p span.i5{
	padding-left: 7em;
	text-indent: -2em;
}

p span.i6{
	padding-left: 15em;
	text-indent: -3em;
}

[epub|type~="z3998:poem"] hgroup p{
	text-align: center;
}

section[epub|type~="dedication"]{
	font-variant: small-caps;
	line-height: 1.5;
	margin: 3em 0;
	text-align: center;
	text-indent: 0;
}
